*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%, rgba(0,0,0,0.5)50%), url(bg.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
}  

.navbar{
    width: 1200px;
    height: 100px;
    margin: auto;
}


.logo{
    color:#fff;
    font-size: 60;
    font-family: Arial;
    padding-left: 20px;
    padding-top: 10px;
    float: left;
}

.menu{
    width: 400px;
    float: right;
    height: 70px;
}

.content{
    text-align: center;
    color: #fff;
    padding-top: 180px;
}
.content h1{
    font-size: 130px;
}
.content p{
    font-size: 25px;
    font-style: italic;
    text-align:center;
}
.banner-btn{

    margin:200 px auto 0;
    padding-left: 550px;
}
.banner-btn a{
    width: 150px;
    text-align: center;
    display:inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    font-size: large;
    font-weight: bold;
    border: .5px solid #fff; 
    position:relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    z-index: -1;
}
.banner-btn a:hover span{
    width: 100%;
}
#sideNav{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #fff;
    z-index: 2;
    transition: 0.5s;
}
nav ul li{
    list-style: none;
    margin: 50px 20px;
}
nav ul li a{
    text-decoration: none;
    color: #000
}
#menubtn{
    width: 50px;
    height: 50px;
    background: #545354;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;
}
#menubtn img{
    width: 20px;
    margin-top: 15px; 
}
/*feature--*/
#feature{
    width: 100%;
    padding: 70px 0;
    background: #738ee8;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}
.service-box{
    width: 80%;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #000;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
.team-intro {
    width: 100%;
    padding: 70px 0;
    background: #fff;
  }
  
  .team-intro h2 {
    text-align: center;
    margin: auto;
    font-size: 50px;
    color: #000;
    font-weight: bold;
    
  }
  
  .team-intro p {
    text-align: center;
    padding-bottom: 50px;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
  }
  
  .team-member {
    text-align: center;
    margin: 20px;
  }
  
  .team-member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }
  
  .team-member h3 {
    margin-top: 10px;
  }
  
  .team-member p {
    margin-top: 5px;
    font-style: italic;
  }
  